/* BASIC STYLES */
body {
    font-family: $fontMain;
    font-size:1em;
    line-height:2em;
    background:$bodyImg $white repeat-x;
    margin:0;
}
main {
    width:940px;
    margin:0 auto;
    padding:0 10px;
}

/* HEADER */
header                      {width:inherit;clear:both;text-align:center;padding-top:40px;}
header img                  {max-width:100%;height:auto;}
header h1                   {color:$orange;font-weight:100;font-size:4em;line-height:0;}
header h2                   {color:$white;font-weight:900;font-size:2.5em;line-height:0;margin-bottom:70px;}
header h3                   {color:$grey;font-weight:400;font-size:2em;line-height:0;margin-bottom:50px;}

/* CONTENT */
#headline                   {width:100%;height:130px;background:$orangeMainContent;text-align:center;margin:0 auto;}
#headline h1                {color:$white;font-size:2.5em;font-weight:100;padding-top:50px;}
#content                    {width:940px;margin:20px auto;}
#content h3                 {color:$grey;font-size:2em;font-weight:400;}
#content #products          {width:460px;float:left;}
#content #products img      {float:left;margin-right:20px;}
#content #products article  {margin-bottom:40px;}
#content #products h4       {line-height:1em;}
#content #testimonials      {width:460px;float:right;}

/* FOOTER */
.greybar                    {width:100%;height:90px;background:$whiteFooter;clear:both;padding-top:30px;}
footer                      {width:100%;height:120px;background:$darkGrey;text-align:center;color:$white;padding-top:50px;}
.social-media               {margin:0 auto;width:165px;}
.social-media div           {float:left;margin-right:5px;}
.social-media a             {display:block;width:36px;height:36px;text-indent:-9999px;}
.social-media div.one       {background:$socialMedia 0 0;}
.social-media div.two 	    {background:$socialMedia -38px 0;}
.social-media div.three     {background:$socialMedia -76px 0;}
.social-media div.four 	    {background:$socialMedia -114px 0;}