//LOGO
@mixin logo($image) {
    width:400px;
    height:190px;
    background:url($image) no-repeat 0 50px;
    float:left;
    display:block;
    margin:0;
}

//NAVIGATION MENU
@mixin navMenu {
    width:540px;
    height:190px;
    float:left;
    text-align:right;
}

//HEADER
@mixin header {
    width:inherit;
    clear:both;
    text-align:center;
    padding-top:40px;
}

//CONTENT AREAS
//headline
@mixin headline {
    width:100%;
    height:130px;
    background:$orangeMainContent;
    text-align:center;
    margin:0 auto;
}
//content
@mixin  content {
    width:940px;
    margin:20px auto;
}

//FOOTER
@mixin foot {
    width:100%;
    height:120px;
    background:$darkGrey;
    text-align:center;
    color:$white;
    padding-top:50px;
}
//social media
@mixin social {
    margin:0 auto;
    width:165px;
}

//MEDIA QUERIES