//COLORS
$orange:                #E65C43;
$orangeMainContent:     #F25C43;
$white:                 #FFF;     
$whiteFooter:           #F5F6F6;
$grey:                  #666;
$darkGrey:              #30353D;


//IMAGE PATHS
$bodyImg:               url('../dist/images/bg.gif');
$figLogoImg:            url('../dist/images/logo.png');
$socialMedia:           url('../dist/images/social-media.png');


//WEB FONTS
$fontMain:              'Roboto', sans-serif;

